/*******************************************************************************
 * Themes
 ******************************************************************************/

:root {
  --global-bg-color: #{$white-color};
  --global-code-bg-color: #{$code-bg-color-light};
  --global-text-color: #{$black-color};
  --global-text-color-light: #{$grey-color};
  --global-theme-color: #{$purple-color};
  --global-hover-color: #{$purple-color};
  --global-hover-text-color: #{$white-color};
  --global-footer-bg-color: #{$grey-color-dark};
  --global-footer-text-color: #{$grey-color-light};
  --global-footer-link-color: #{$white-color};
  --global-distill-app-color: #{$grey-color};
  --global-divider-color: #ACB0BE;
  --global-card-bg-color: #{$white-color};

  --global-tip-block: #40A02B;
  --global-tip-block-bg: #e2f5ec;
  --global-tip-block-text: #215d42;
  --global-tip-block-title: #40A02B;
  --global-warning-block: #DF8E1D;
  --global-warning-block-bg: #FFF4C6;
  --global-warning-block-text: #4B450E;
  --global-warning-block-title: #DF8E1D;
  --global-danger-block: #D20F39;
  --global-danger-block-bg: #ffe0e0;
  --global-danger-block-text: #804951;
  --global-danger-block-title: #D20F39; 

  .fa-sun {
    display : none;
  }
  .fa-moon {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }

  .repo-img-light {
    display: block;
  }
  .repo-img-dark {
    display: none;
  }
}

html[data-theme='dark'] {
  --global-bg-color: #{$grey-color-dark};
  --global-code-bg-color: #{$code-bg-color-dark};
  --global-text-color: #{$grey-color-light};
  --global-text-color-light: #{$grey-color-light};
  --global-theme-color: #{$cyan-color};
  --global-hover-color: #{$cyan-color};
  --global-hover-text-color: #{$white-color};
  --global-footer-bg-color: #{$grey-color-light};
  --global-footer-text-color: #{$grey-color-dark};
  --global-footer-link-color: #{$black-color};
  --global-distill-app-color: #{$grey-color-light};
  --global-divider-color: #363A4F;
  --global-card-bg-color: #{$grey-900};

  --global-tip-block: #779E6D;
  --global-tip-block-bg: #C0DABF;
  --global-tip-block-text: #32422E;
  --global-tip-block-title: #70865C;
  --global-warning-block: #CAB78A;
  --global-warning-block-bg: #EEE0C8;
  --global-warning-block-text: #4B450E;
  --global-warning-block-title: #AF9D76;
  --global-danger-block: #ED8796;
  --global-danger-block-bg: #ffe0e0;
  --global-danger-block-text: #804951;
  --global-danger-block-title: #B46773;

  .fa-sun {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }
  .fa-moon {
    display : none;
  }

  .repo-img-light {
    display: none;
  }
  .repo-img-dark {
    display: block;
  }
}
