.highlight pre { background-color: #363A4F } /* Surface0 */
.highlight .hll { background-color: #363A4F } /* Surface0 */
.highlight .c { color: #6E738D; font-style: italic } /* Overlay0 --> Comment */
.highlight .err { color: #ED8796; background-color: #363A4F } /* Red --> Error */
.highlight .g { color: #CAD3F5 } /* Text --> Generic */
.highlight .k { color: #C6A0F6; font-weight: bold } /* Mauve --> Keyword */
.highlight .l { color: #CAD3F5 } /* Text --> Literal */
.highlight .n { color: #F5A97F } /* Peach --> Name */
.highlight .o { color: #91D7E3 } /* Sky --> Operator */
.highlight .x { color: #CAD3F5 } /* Text --> Other */
.highlight .p { color: #CAD3F5 } /* Text --> Punctuation */
.highlight .cm { color: #6E738D; font-style: italic } /* Overlay0 --> Comment.Multiline */
.highlight .cp { color: #6E738D; font-weight: bold } /* Overlay0 --> Comment.Preproc */
.highlight .c1 { color: #6E738D; font-style: italic } /* Overlay0 --> Comment.Single */
.highlight .cs { color: #6E738D; font-weight: bold; background-color: #363A4F } /* Overlay0 + Surface0 --> Comment.Special */
.highlight .gd { color: #ED8796 } /* Red --> Generic.Deleted */
.highlight .ge { color: #CAD3F5; font-style: italic } /* Text --> Generic.Emph */
.highlight .gr { color: #ED8796 } /* Red --> Generic.Error */
.highlight .gh { color: #A5ADCB; font-weight: bold } /* Subtext0 --> Generic.Heading */
.highlight .gi { color: #A6DA95 } /* Green --> Generic.Inserted */
.highlight .go { color: #CAD3F5 } /* Text --> Generic.Output */
.highlight .gp { color: #B8C0E0 } /* Subtext1 --> Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #A5ADCB; text-decoration: underline } /* Subtext0 --> Generic.Subheading */
.highlight .gt { color: #ED8796 } /* Red --> Generic.Traceback */
.highlight .kc { color: #F5A97F; font-weight: bold } /* Peach --> Keyword.Constant */
.highlight .kd { color: #8AADF4; font-weight: bold } /* Blue --> Keyword.Declaration */
.highlight .kn { color: #8BD5CA; font-weight: bold } /* Teal --> Keyword.Namespace */
.highlight .kp { color: #C6A0F6 } /* Mauve --> Keyword.Pseudo */
.highlight .kr { color: #C6A0F6; font-weight: bold } /* Mauve --> Keyword.Reserved */
.highlight .kt { color: #8AADF4; font-weight: bold } /* Blue --> Keyword.Type */
.highlight .ld { color: #CAD3F5 } /* Text --> Literal.Date */
.highlight .m { color: #F5A97F } /* Peach --> Literal.Number */
.highlight .s { color: #A6DA95 } /* Green --> Literal.String */
.highlight .na { color: #8AADF4 } /* Blue --> Name.Attribute */
.highlight .nb { color: #ED8796 } /* Red --> Name.Builtin */
.highlight .nc { color: #EED49F; text-decoration: underline } /* Yellow --> Name.Class */
.highlight .no { color: #F5A97F } /* Peach --> Name.Constant */
.highlight .nd { color: #8AADF4 } /* Blue --> Name.Decorator */
.highlight .ni { color: #CAD3F5 } /* Text --> Name.Entity */
.highlight .ne { color: #ED8796 } /* Red --> Name.Exception */
.highlight .nf { color: #8AADF4 } /* Blue --> Name.Function */
.highlight .nl { color: #8AADF4 } /* Blue --> Name.Label */
.highlight .nn { color: #CAD3F5; text-decoration: underline } /* Text --> Name.Namespace */
.highlight .nx { color: #CAD3F5 } /* Text --> Name.Other */
.highlight .py { color: #8AADF4 } /* Blue --> Name.Property */
.highlight .nt { color: #C6A0F6; font-weight: bold } /* Mauve --> Name.Tag */
.highlight .nv { color: #F5BDE6 } /* Pink --> Name.Variable */
.highlight .ow { color: #91D7E3; font-weight: bold } /* Sky --> Operator.Word */
.highlight .w { color: #CAD3F5 } /* Text --> Text.Whitespace */
.highlight .mf { color: #F5A97F } /* Peach --> Literal.Number.Float */
.highlight .mh { color: #F5A97F } /* Peach --> Literal.Number.Hex */
.highlight .mi { color: #F5A97F } /* Peach --> Literal.Number.Integer */
.highlight .mo { color: #F5A97F } /* Peach --> Literal.Number.Oct */
.highlight .sb { color: #A6DA95 } /* Green --> Literal.String.Backtick */
.highlight .sc { color: #A6DA95 } /* Green --> Literal.String.Char */
.highlight .sd { color: #A6DA95 } /* Green --> Literal.String.Doc */
.highlight .s2 { color: #A6DA95 } /* Green --> Literal.String.Double */
.highlight .se { color: #F5BDE6 } /* Pink --> Literal.String.Escape */
.highlight .sh { color: #A6DA95 } /* Green --> Literal.String.Heredoc */
.highlight .si { color: #A6DA95 } /* Green --> Literal.String.Interpol */
.highlight .sx { color: #A6DA95 } /* Green --> Literal.String.Other */
.highlight .sr { color: #A6DA95 } /* Green --> Literal.String.Regex */
.highlight .s1 { color: #A6DA95 } /* Green --> Literal.String.Single */
.highlight .ss { color: #A6DA95 } /* Green --> Literal.String.Symbol */
.highlight .bp { color: #ED8796 } /* Red --> Name.Builtin.Pseudo */
.highlight .vc { color: #EED49F } /* Yellow --> Name.Variable.Class */
.highlight .vg { color: #F5BDE6 } /* Pink --> Name.Variable.Global */
.highlight .vi { color: #F5BDE6 } /* Pink --> Name.Variable.Instance */
.highlight .il { color: #F5A97F } /* Peach --> Literal.Number.Integer.Long */